@font-face {
  font-family: "PlayRegular";
  src: url("/static/Play-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PlayBold";
  src: url("/static/Play-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
